.rsc-content.sc-gZMcBi.dOJFEw{background-image:none}
.estilos {
    display:none;
}
.miga-de-pan{
    color: #b0b0b0;
    font-size: 15px !important;
}
.miga-de-pan a {
    color: #b0b0b0 !important;
}
.elementor-accordion .elementor-accordion-item+.elementor-accordion-item {
    border-top: 2px solid #6896fc !important;
}
.elementor-accordion-item {
    margin-bottom: 12px;
}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active {
    color: #3366c9 !important; 
}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title {
    color: #3366c9 !important;
}
.sp-ea-one.sp-easy-accordion .sp-ea-single .ea-header a {
    padding-left: 30px !important;
    font-family: "Work Sans", Sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.sp-easy-accordion .sp-ea-single .ea-header a .ea-expand-icon.fa {
    font-size: 30px !important;
    font-weight: bold;
}
.sp-easy-accordion .sp-ea-single .ea-header a .ea-expand-icon.fa {
    margin-right: 10px !important;
}
.sp-easy-accordion .sp-ea-single {
    border-radius:0px !important;
}
.elementor-element-a3b8d4c{
    display:none;
}
.elementor-element-e0e8651{
     display:none;
}
.elementor-element-5ec2cee{
     display:none;
}
.elementor-element-8a66903{
     display:none;
}
.elementor-element-b9ae2c7{
     display:none;
}
.elementor-element-5cd6d50{
     display:none;
}
.elementor-element-78b232b{
     display:none;
}
.elementor-element-34c68cf{
     display:none;
}
.elementor-element-572df49{
     display:none;
}
.elementor-element-73f4f01{
     display:none;
}
.elementor-element-94d411d{
     display:none;
}
.elementor-element-c635134{
     display:none;
}
.elementor-element-1a21b49{
     display:none;
}
.elementor-element-c92839c{
     display:none;
}
.elementor-element-9e405e0{
     display:none;
}
.elementor-element-f916795{
     display:none;
}
.elementor-element-5e29c30{
     display:none;
}
.elementor-element-44e6557{
     display:none;
}
.elementor-element-98f64a9{
     display:none;
}
.elementor-element-bcf6367{
     display:none;
}
.elementor-element-7e6f051{
     display:none;
}
.elementor-element-8e7a2b9{
     display:none;
}
.elementor-element-2c3e050{
     display:none;
}
.elementor-element-c1d81c1{
     display:none;
}
.elementor-element-c689a2d{
    display:none;
}
.menu-tramites .elementor-nav-menu li {
    border-bottom:1px solid #3366cc;
}
.contenedor-chat{
    position: fixed;
    bottom: 20%;
    right: -193px;
    width: 250px;
    z-index: 9;
}
.contenedor-chat img {
      border-radius: 12px 0px 0px 12px !important;
}
section.elementor-element.elementor-element-ae4aa0d.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
    position: fixed;
    z-index: 9;
}
.elementor-1978 .elementor-element.elementor-element-d306bbc.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:flex-start;}.elementor-1978 .elementor-element.elementor-element-9d7fadb{text-align:left;}.elementor-1978 .elementor-element.elementor-element-9d7fadb .elementor-image img{max-width:93.9%;}.elementor-1978 .elementor-element.elementor-element-9e1db27{margin-top:0px;margin-bottom:0px;}.elementor-1978 .elementor-element.elementor-element-fa58f5e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:20px;}.elementor-1978 .elementor-element.elementor-element-fa58f5e:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-1978 .elementor-element.elementor-element-fa58f5e > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ff2965;}.elementor-1978 .elementor-element.elementor-element-fa58f5e > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:-10px -1px 0px 10px;padding:5px 5px 5px 5px;}.elementor-1978 .elementor-element.elementor-element-fa58f5e > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1978 .elementor-element.elementor-element-cee9141 .elementor-spacer-inner{height:88px;}.elementor-bc-flex-widget .elementor-1978 .elementor-element.elementor-element-597c242.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1978 .elementor-element.elementor-element-597c242.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1978 .elementor-element.elementor-element-597c242.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1978 .elementor-element.elementor-element-597c242:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-1978 .elementor-element.elementor-element-597c242 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3366cc;}.elementor-1978 .elementor-element.elementor-element-597c242 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:-10px -15px 0px 0px;padding:5px 23px 5px 5px;}.elementor-1978 .elementor-element.elementor-element-597c242 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1978 .elementor-element.elementor-element-a31df63 .elementor-text-editor{text-align:center;}.elementor-1978 .elementor-element.elementor-element-a31df63{color:#ffffff;font-family:"Work Sans", Sans-serif;font-size:14px;font-weight:300;}.elementor-1978 .elementor-element.elementor-element-a31df63 > .elementor-widget-container{margin:0px 0px 0px 10px;}.elementor-1978 .elementor-element.elementor-element-2314746 .elementor-image img{max-width:31%;}body:not(.rtl) .elementor-1978 .elementor-element.elementor-element-2314746{left:-79px;}body.rtl .elementor-1978 .elementor-element.elementor-element-2314746{right:-79px;}.elementor-1978 .elementor-element.elementor-element-2314746{top:-584px;}.elementor-1978 .elementor-element.elementor-element-45acf51 .elementor-image img{max-width:31%;}body:not(.rtl) .elementor-1978 .elementor-element.elementor-element-45acf51{left:-364px;}body.rtl .elementor-1978 .elementor-element.elementor-element-45acf51{right:-364px;}.elementor-1978 .elementor-element.elementor-element-45acf51{top:-510px;}.elementor-1978 .elementor-element.elementor-element-c847e14{color:#3366cc;font-family:"Poppins", Sans-serif;font-weight:600;font-style:italic;}.elementor-1978 .elementor-element.elementor-element-16f1ade{font-family:"Work Sans", Sans-serif;font-size:14px;}.elementor-1978 .elementor-element.elementor-element-f43317b{font-family:"Work Sans", Sans-serif;font-size:14px;}.elementor-1978 .elementor-element.elementor-element-cf0aaee{margin-top:-7px;margin-bottom:0px;}.elementor-1978 .elementor-element.elementor-element-163befc:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-1978 .elementor-element.elementor-element-163befc > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ff2965;}.elementor-1978 .elementor-element.elementor-element-163befc > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1978 .elementor-element.elementor-element-163befc > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1978 .elementor-element.elementor-element-3f5ec5c .elementor-image img{width:100%;max-width:100%;}.elementor-1978 .elementor-element.elementor-element-3f5ec5c > .elementor-widget-container{margin:-3px -3px -3px -3px;}.elementor-bc-flex-widget .elementor-1978 .elementor-element.elementor-element-1f45746.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1978 .elementor-element.elementor-element-1f45746.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1978 .elementor-element.elementor-element-1f45746:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-1978 .elementor-element.elementor-element-1f45746 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3366cc;}.elementor-1978 .elementor-element.elementor-element-1f45746 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 0px 0px 0px;}.elementor-1978 .elementor-element.elementor-element-1f45746 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1978 .elementor-element.elementor-element-b711472{text-align:left;}.elementor-1978 .elementor-element.elementor-element-b711472 .elementor-heading-title{color:#ffffff;font-family:"Work Sans", Sans-serif;font-size:25px;font-weight:900;}.elementor-1978 .elementor-element.elementor-element-ed0884d{font-family:"Work Sans", Sans-serif;}.elementor-1978 .elementor-element.elementor-element-2919ceb{font-size:12px;}.elementor-1978 .elementor-element.elementor-element-2919ceb > .elementor-widget-container{margin:-32px 0px 0px 0px;}.elementor-1978 .elementor-element.elementor-element-5f45346{font-family:"Work Sans", Sans-serif;}.elementor-1978 .elementor-element.elementor-element-942b1bb{font-size:12px;}.elementor-1978 .elementor-element.elementor-element-942b1bb > .elementor-widget-container{margin:-32px 0px 0px 0px;}.elementor-1978 .elementor-element.elementor-element-05935c7{font-family:"Work Sans", Sans-serif;}.elementor-1978 .elementor-element.elementor-element-2eddd58{font-size:12px;}.elementor-1978 .elementor-element.elementor-element-2eddd58 > .elementor-widget-container{margin:-32px 0px 0px 0px;}body.elementor-page-1978 h1.entry-title, .elementor-page-title{display:none;}@media(min-width:768px){.elementor-1978 .elementor-element.elementor-element-fa58f5e{width:3.158%;}.elementor-1978 .elementor-element.elementor-element-597c242{width:89.982%;}.elementor-1978 .elementor-element.elementor-element-edb2b10{width:66.754%;}.elementor-1978 .elementor-element.elementor-element-9e92613{width:33.246%;}.elementor-1978 .elementor-element.elementor-element-163befc{width:23.12%;}.elementor-1978 .elementor-element.elementor-element-1f45746{width:95.947%;}.elementor-1978 .elementor-element.elementor-element-2653705{width:44.29%;}.elementor-1978 .elementor-element.elementor-element-1855ccb{width:55.71%;}.elementor-1978 .elementor-element.elementor-element-fac0369{width:44.29%;}.elementor-1978 .elementor-element.elementor-element-165ead2{width:55.71%;}.elementor-1978 .elementor-element.elementor-element-b47d674{width:44.29%;}.elementor-1978 .elementor-element.elementor-element-ecc3731{width:55.71%;}}/* Start custom CSS for column, class: .elementor-element-fa58f5e */.elementor-1978 .elementor-element.elementor-element-fa58f5e {z-index: 2;}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-597c242 */.elementor-1978 .elementor-element.elementor-element-597c242 {z-index: 1;}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-2314746 */.elementor-1978 .elementor-element.elementor-element-2314746 {z-index: 3;}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-45acf51 */.elementor-1978 .elementor-element.elementor-element-45acf51 {z-index: 3;}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: normal;
	src: url('http://158.69.170.226/~portalmads/wp-content/uploads/2019/10/WorkSans-Regular-1.ttf') format('truetype');
}
/* End Custom Fonts CSS */
.noticias_portal.type-noticias_portal.status-publish.format-standard.has-post-thumbnail.hentry {
    max-width: 1200px;
}
.elementor-nav-menu__align-right .elementor-nav-menu a{
    border-top-style: solid;
    border-top-color: #fff;
    text-align: right !important;
    display: inline-block;
    width: 100%;
    padding-right: 10px !important;
    border-top-width: 0px;
}
.elementor-nav-menu__align-right .elementor-nav-menu .sub-arrow {
    padding: 0px 0 0px 0px; 
    margin-left: 5px;
}
.elementor-1953 .elementor-element.elementor-element-c5a7ae4 > .elementor-element-populated{text-align:right;margin:12px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-72bec7d{margin-top:34px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-d5b6b95 > .elementor-widget-container{margin:-3px -3px -3px -3px;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-0a2c47a.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-0a2c47a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-0a2c47a > .elementor-element-populated{margin:-6px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-00ad45b{text-align:left;}.elementor-1953 .elementor-element.elementor-element-00ad45b .elementor-heading-title{color:#3366cc;font-family:"Work Sans", Sans-serif;font-size:25px;font-weight:900;}.elementor-1953 .elementor-element.elementor-element-eb5bc1b > .elementor-element-populated{text-align:right;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-f2114c1{border-style:solid;border-width:1.5px 1.5px 1.5px 1.5px;border-color:#3366cc;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:8px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-f2114c1 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-db2be87.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-db2be87.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-db2be87 > .elementor-element-populated{margin:-6px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-0964da4{text-align:center;}.elementor-1953 .elementor-element.elementor-element-0964da4 .elementor-heading-title{color:#3366cc;font-family:"Work Sans", Sans-serif;font-size:25px;font-weight:900;}.elementor-1953 .elementor-element.elementor-element-39bf43d > .elementor-element-populated{margin:0px 0px 0px -95px;}.elementor-1953 .elementor-element.elementor-element-4b84e6f > .elementor-widget-container{margin:-3px -3px -3px -3px;}.elementor-1953 .elementor-element.elementor-element-336ca99 > .elementor-widget-container{margin:-3px -3px -3px -3px;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-c4fd6ce.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-c4fd6ce.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-c4fd6ce > .elementor-element-populated{margin:-6px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-218e1ba{text-align:left;}.elementor-1953 .elementor-element.elementor-element-218e1ba .elementor-heading-title{color:#3366cc;font-family:"Work Sans", Sans-serif;font-size:25px;font-weight:900;}.elementor-1953 .elementor-element.elementor-element-961717b{color:#3366cc;font-family:"Work Sans", Sans-serif;font-size:19px;font-weight:600;}.elementor-1953 .elementor-element.elementor-element-961717b > .elementor-widget-container{margin:20px 0px 0px 24px;}.elementor-1953 .elementor-element.elementor-element-e41b07f > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-e41b07f:not(.elementor-motion-effects-element-type-background), .elementor-1953 .elementor-element.elementor-element-e41b07f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#3366cc;}.elementor-1953 .elementor-element.elementor-element-e41b07f{border-style:solid;border-width:0px 0px 05px 0px;border-color:#ff2965;box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1953 .elementor-element.elementor-element-e41b07f, .elementor-1953 .elementor-element.elementor-element-e41b07f > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-e41b07f:hover{border-style:solid;border-width:0px 0px 05px 0px;border-color:#ff2965;}.elementor-1953 .elementor-element.elementor-element-e41b07f:hover, .elementor-1953 .elementor-element.elementor-element-e41b07f:hover > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-e41b07f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1953 .elementor-element.elementor-element-cdd1597 .elementor-image img{max-width:100%;}.elementor-1953 .elementor-element.elementor-element-cdd1597 > .elementor-widget-container{padding:0px 0px 0px 9px;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-cd12a72.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-cd12a72.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-763bdee .elementor-text-editor{text-align:left;columns:1;}.elementor-1953 .elementor-element.elementor-element-763bdee{color:#ffffff;font-family:"Work Sans", Sans-serif;font-size:14px;font-weight:300;}.elementor-1953 .elementor-element.elementor-element-763bdee > .elementor-widget-container{margin:7px 0px 0px 0px;padding:5px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-6ccfaaa > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-6ccfaaa:not(.elementor-motion-effects-element-type-background), .elementor-1953 .elementor-element.elementor-element-6ccfaaa > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#dfe9fa;}.elementor-1953 .elementor-element.elementor-element-6ccfaaa{border-style:solid;border-width:0px 0px 05px 0px;border-color:#3366cc;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1953 .elementor-element.elementor-element-6ccfaaa, .elementor-1953 .elementor-element.elementor-element-6ccfaaa > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-6ccfaaa:hover{border-style:solid;border-width:0px 0px 05px 0px;border-color:#ff2965;}.elementor-1953 .elementor-element.elementor-element-6ccfaaa:hover, .elementor-1953 .elementor-element.elementor-element-6ccfaaa:hover > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-6ccfaaa > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1953 .elementor-element.elementor-element-93b48b9 .elementor-image img{max-width:100%;}.elementor-1953 .elementor-element.elementor-element-93b48b9 > .elementor-widget-container{padding:0px 0px 0px 9px;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-c12596c.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-c12596c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-b0d14dc .elementor-text-editor{text-align:left;columns:1;}.elementor-1953 .elementor-element.elementor-element-b0d14dc{color:#3366cc;font-family:"Work Sans", Sans-serif;font-size:14px;font-weight:300;}.elementor-1953 .elementor-element.elementor-element-b0d14dc > .elementor-widget-container{margin:7px 0px 0px 0px;padding:5px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-61be27b > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-61be27b:not(.elementor-motion-effects-element-type-background), .elementor-1953 .elementor-element.elementor-element-61be27b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#dfe9fa;}.elementor-1953 .elementor-element.elementor-element-61be27b{border-style:solid;border-width:0px 0px 05px 0px;border-color:#3366cc;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1953 .elementor-element.elementor-element-61be27b, .elementor-1953 .elementor-element.elementor-element-61be27b > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-61be27b:hover{border-style:solid;border-width:0px 0px 05px 0px;border-color:#ff2965;}.elementor-1953 .elementor-element.elementor-element-61be27b:hover, .elementor-1953 .elementor-element.elementor-element-61be27b:hover > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-61be27b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1953 .elementor-element.elementor-element-493b2f4 .elementor-image img{max-width:100%;}.elementor-1953 .elementor-element.elementor-element-493b2f4 > .elementor-widget-container{padding:0px 0px 0px 9px;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-220d0bc.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-220d0bc.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-c6d94d5 .elementor-text-editor{text-align:left;columns:1;}.elementor-1953 .elementor-element.elementor-element-c6d94d5{color:#ffffff;font-family:"Work Sans", Sans-serif;font-size:14px;font-weight:300;}.elementor-1953 .elementor-element.elementor-element-c6d94d5 > .elementor-widget-container{margin:7px 0px 0px 0px;padding:5px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-bc462e5 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-bc462e5:not(.elementor-motion-effects-element-type-background), .elementor-1953 .elementor-element.elementor-element-bc462e5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#dfe9fa;}.elementor-1953 .elementor-element.elementor-element-bc462e5{border-style:solid;border-width:0px 0px 05px 0px;border-color:#3366cc;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1953 .elementor-element.elementor-element-bc462e5, .elementor-1953 .elementor-element.elementor-element-bc462e5 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-bc462e5:hover{border-style:solid;border-width:0px 0px 05px 0px;border-color:#ff2965;}.elementor-1953 .elementor-element.elementor-element-bc462e5:hover, .elementor-1953 .elementor-element.elementor-element-bc462e5:hover > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-bc462e5 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1953 .elementor-element.elementor-element-3e61508 .elementor-image img{max-width:100%;}.elementor-1953 .elementor-element.elementor-element-3e61508 > .elementor-widget-container{padding:0px 0px 0px 9px;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-d4ec585.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-d4ec585.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-7114293 .elementor-text-editor{text-align:left;columns:1;}.elementor-1953 .elementor-element.elementor-element-7114293{color:#3366cc;font-family:"Work Sans", Sans-serif;font-size:14px;font-weight:300;}.elementor-1953 .elementor-element.elementor-element-7114293 > .elementor-widget-container{margin:7px 0px 0px 0px;padding:5px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-df26eed{margin-top:9px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-de579e2 .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-de579e2{color:#3366cc;font-family:"Poppins", Sans-serif;font-size:15px;}.elementor-1953 .elementor-element.elementor-element-de579e2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-c284496 .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-c284496{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1953 .elementor-element.elementor-element-c284496 > .elementor-widget-container{margin:-28px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-7d2926c{margin-top:9px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-c578bb6 .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-c578bb6{color:#3366cc;font-family:"Poppins", Sans-serif;font-size:15px;}.elementor-1953 .elementor-element.elementor-element-c578bb6 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-9139e2c .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-9139e2c{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1953 .elementor-element.elementor-element-9139e2c > .elementor-widget-container{margin:-28px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-95c998e{margin-top:9px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-c85d22a .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-c85d22a{color:#3366cc;font-family:"Poppins", Sans-serif;font-size:15px;}.elementor-1953 .elementor-element.elementor-element-c85d22a > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-7e9f1cf .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-7e9f1cf{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1953 .elementor-element.elementor-element-7e9f1cf > .elementor-widget-container{margin:-28px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-dd7fb61{margin-top:9px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-e91f94b .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-e91f94b{color:#3366cc;font-family:"Poppins", Sans-serif;font-size:15px;}.elementor-1953 .elementor-element.elementor-element-e91f94b > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-54488ff .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-54488ff{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1953 .elementor-element.elementor-element-54488ff > .elementor-widget-container{margin:-28px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-b039963{margin-top:9px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-138df6e .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-138df6e{color:#3366cc;font-family:"Poppins", Sans-serif;font-size:15px;}.elementor-1953 .elementor-element.elementor-element-138df6e > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-6f57219 .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-6f57219{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1953 .elementor-element.elementor-element-6f57219 > .elementor-widget-container{margin:-28px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-d74f8e2{margin-top:9px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-7eb9425 .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-7eb9425{color:#3366cc;font-family:"Poppins", Sans-serif;font-size:15px;}.elementor-1953 .elementor-element.elementor-element-7eb9425 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-50f9b4c .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-50f9b4c{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1953 .elementor-element.elementor-element-50f9b4c > .elementor-widget-container{margin:-28px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-61c696d{margin-top:9px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-687f49c .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-687f49c{color:#3366cc;font-family:"Poppins", Sans-serif;font-size:15px;}.elementor-1953 .elementor-element.elementor-element-687f49c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-1e0d838 .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-1e0d838{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1953 .elementor-element.elementor-element-1e0d838 > .elementor-widget-container{margin:-28px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-cf16c34{margin-top:9px;margin-bottom:0px;}.elementor-1953 .elementor-element.elementor-element-8c475bc .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-8c475bc{color:#3366cc;font-family:"Poppins", Sans-serif;font-size:15px;}.elementor-1953 .elementor-element.elementor-element-8c475bc > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-2892f76 .elementor-text-editor{text-align:justify;}.elementor-1953 .elementor-element.elementor-element-2892f76{font-family:"Poppins", Sans-serif;font-size:14px;}.elementor-1953 .elementor-element.elementor-element-2892f76 > .elementor-widget-container{margin:-28px 0px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-b36732b{--divider-border-style:solid;--divider-border-color:#3366cc;--divider-border-width:1px;}.elementor-1953 .elementor-element.elementor-element-b36732b .elementor-divider-separator{width:98%;}.elementor-1953 .elementor-element.elementor-element-b36732b .elementor-divider{padding-top:15px;padding-bottom:15px;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-13c3a8e.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-13c3a8e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-13c3a8e.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1953 .elementor-element.elementor-element-13c3a8e > .elementor-element-populated{margin:0px -37px 0px 75px;}.elementor-1953 .elementor-element.elementor-element-032fb93 .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-032fb93{color:#3366cc;font-family:"Work Sans", Sans-serif;font-weight:900;}.elementor-1953 .elementor-element.elementor-element-032fb93 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:#d1dbec;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-e71623e.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-e71623e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-e71623e.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1953 .elementor-element.elementor-element-e71623e > .elementor-element-populated{margin:0px 0px 0px 38px;}.elementor-1953 .elementor-element.elementor-element-c9f09c5 .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-c9f09c5{color:#ffffff;font-family:"Work Sans", Sans-serif;}.elementor-1953 .elementor-element.elementor-element-c9f09c5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:#6885eb;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-4bae88c.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-4bae88c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-4bae88c.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1953 .elementor-element.elementor-element-4bae88c > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 38px 0px 0px;}.elementor-1953 .elementor-element.elementor-element-4bae88c > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1953 .elementor-element.elementor-element-0cadfb1 .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-0cadfb1{color:#000000;font-family:"Work Sans", Sans-serif;}.elementor-1953 .elementor-element.elementor-element-0cadfb1 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:#ececec;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-25d334c.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-25d334c.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-25d334c.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1953 .elementor-element.elementor-element-25d334c > .elementor-element-populated{margin:0px 76px 0px -38px;}.elementor-1953 .elementor-element.elementor-element-096e6c4 .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-096e6c4{color:#000000;font-family:"Work Sans", Sans-serif;}.elementor-1953 .elementor-element.elementor-element-096e6c4 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:#ececec;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-6b3a802.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-6b3a802.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-6b3a802.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1953 .elementor-element.elementor-element-6b3a802 > .elementor-element-populated{margin:0px 114px 0px -76px;}.elementor-1953 .elementor-element.elementor-element-ccd1bbf .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-ccd1bbf{color:#000000;font-family:"Work Sans", Sans-serif;}.elementor-1953 .elementor-element.elementor-element-ccd1bbf > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:#ececec;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-6af3eb9.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-6af3eb9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-6af3eb9.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1953 .elementor-element.elementor-element-6af3eb9 > .elementor-element-populated{margin:0px 150px 0px -114px;}.elementor-1953 .elementor-element.elementor-element-bd8c923 .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-bd8c923{color:#000000;font-family:"Work Sans", Sans-serif;}.elementor-1953 .elementor-element.elementor-element-bd8c923 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:#ececec;}.elementor-bc-flex-widget .elementor-1953 .elementor-element.elementor-element-31e8ddc.elementor-column .elementor-column-wrap{align-items:center;}.elementor-1953 .elementor-element.elementor-element-31e8ddc.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-1953 .elementor-element.elementor-element-31e8ddc.elementor-column > .elementor-column-wrap > .elementor-widget-wrap{justify-content:center;}.elementor-1953 .elementor-element.elementor-element-31e8ddc > .elementor-element-populated{margin:0px 185px 0px -149px;}.elementor-1953 .elementor-element.elementor-element-64f9bdd .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-64f9bdd{color:#3366cc;font-family:"Work Sans", Sans-serif;font-weight:900;}.elementor-1953 .elementor-element.elementor-element-64f9bdd > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;background-color:#d1dbec;}body.elementor-page-1953 h1.entry-title, .elementor-page-title{display:none;}@media(max-width:1024px){.elementor-1953 .elementor-element.elementor-element-763bdee .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-b0d14dc .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-c6d94d5 .elementor-text-editor{text-align:center;}.elementor-1953 .elementor-element.elementor-element-7114293 .elementor-text-editor{text-align:center;}}@media(min-width:768px){.elementor-1953 .elementor-element.elementor-element-c5a7ae4{width:32.281%;}.elementor-1953 .elementor-element.elementor-element-0dd0bf7{width:17.486%;}.elementor-1953 .elementor-element.elementor-element-0a2c47a{width:101.581%;}.elementor-1953 .elementor-element.elementor-element-db2be87{width:101.581%;}.elementor-1953 .elementor-element.elementor-element-39bf43d{width:17.486%;}.elementor-1953 .elementor-element.elementor-element-80836ae{width:17.486%;}.elementor-1953 .elementor-element.elementor-element-c4fd6ce{width:101.581%;}.elementor-1953 .elementor-element.elementor-element-22b274a{width:67.719%;}.elementor-1953 .elementor-element.elementor-element-949e9d4{width:31%;}.elementor-1953 .elementor-element.elementor-element-cd12a72{width:68.991%;}.elementor-1953 .elementor-element.elementor-element-347f542{width:31%;}.elementor-1953 .elementor-element.elementor-element-c12596c{width:68.991%;}.elementor-1953 .elementor-element.elementor-element-8bb665c{width:31%;}.elementor-1953 .elementor-element.elementor-element-220d0bc{width:68.991%;}.elementor-1953 .elementor-element.elementor-element-c6853c5{width:31%;}.elementor-1953 .elementor-element.elementor-element-d4ec585{width:68.991%;}.elementor-1953 .elementor-element.elementor-element-6657416{width:54.787%;}.elementor-1953 .elementor-element.elementor-element-af6c115{width:45.209%;}.elementor-1953 .elementor-element.elementor-element-f8e04e8{width:54.787%;}.elementor-1953 .elementor-element.elementor-element-375ab31{width:45.209%;}.elementor-1953 .elementor-element.elementor-element-509ee94{width:54.787%;}.elementor-1953 .elementor-element.elementor-element-cd6a7b9{width:45.209%;}.elementor-1953 .elementor-element.elementor-element-9a90406{width:54.787%;}.elementor-1953 .elementor-element.elementor-element-4541385{width:45.209%;}.elementor-1953 .elementor-element.elementor-element-94e6257{width:54.787%;}.elementor-1953 .elementor-element.elementor-element-b5ea77e{width:45.209%;}.elementor-1953 .elementor-element.elementor-element-5f1c5f0{width:54.787%;}.elementor-1953 .elementor-element.elementor-element-4afacc1{width:45.209%;}.elementor-1953 .elementor-element.elementor-element-41af38f{width:54.787%;}.elementor-1953 .elementor-element.elementor-element-b064579{width:45.209%;}.elementor-1953 .elementor-element.elementor-element-37492b1{width:54.787%;}.elementor-1953 .elementor-element.elementor-element-17dd4cb{width:45.209%;}}/* Start custom CSS for shortcode, class: .elementor-element-a459149 */.elementor-1953 .elementor-element.elementor-element-a459149 .spcollapsing { height: 0; overflow: hidden; transition-property: height;transition-duration: 500ms;} .sp-easy-accordion iframe {width: 100%;}
 .elementor-1953 .elementor-element.elementor-element-a459149 .sp-easy-accordion  .sp-ea-single {border: 1px solid #dfe9fa; }
#sp-ea-1895 .sp-easy-accordion  .sp-ea-single  .ea-header a {color: #3366c9;}
.elementor-1953 .elementor-element.elementor-element-a459149 .sp-easy-accordion  .sp-ea-single .ea-body {background: #fff; color: #444;}
.elementor-1953 .elementor-element.elementor-element-a459149 .sp-easy-accordion  .sp-ea-single {background: #dfe9fa;}
.elementor-1953 .elementor-element.elementor-element-a459149.sp-easy-accordion  .sp-ea-single  .ea-header a .ea-expand-icon.fa { float: right; color: #1e73be;font-size: 20px;}
.elementor-1953 .elementor-element.elementor-element-a459149 .sp-easy-accordion  .sp-ea-single  .ea-header a .ea-expand-icon.fa {margin-right: 0;}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-eb5bc1b */.elementor-1953 .elementor-element.elementor-element-eb5bc1b .elementor-nav-menu ul {
position: relative;
   max-width: 100% !important;
   margin-left: 0px !important;
   margin-top: 0px !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-c5a7ae4 */.elementor-1953 .elementor-element.elementor-element-c5a7ae4 .elementor-nav-menu ul {
position: relative;
   max-width: 100% !important;
   margin-left: 0px !important;
   margin-top: 0px !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: normal;
	src: url('http://158.69.170.226/~portalmads/wp-content/uploads/2019/10/WorkSans-Regular-1.ttf') format('truetype');
}
.noticias_minambiente {
	max-width: 1150px !important;
}
/* End Custom Fonts CSS */
